{% extends "layout.html" %}

{% block title %}
Chatroom
{% endblock %}

{% block header %}
    {% if owner == current_user.get_id()|int %}
        <i>You are the owner of this room</i>
        <form method="post" action="/delete_room">
            <input type="hidden" value="{{ room_id }}" name='room_id'>
            <input type="hidden" value="{{ current_user.get_id() }}" name='owner'>
            <button type="submit">Delete Room</button>
        </form>
    {% endif %}

{% endblock %}

{% block main %}

room id is {{ room_id }},<br>room name is {{ room_name }}, <br>username is {{ current_user.username }}, user id is {{ current_user.get_id() }}

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
    var socket = io();
    socket.emit('joinRoom',{'username':'{{ current_user.username }}','room_id':{{ room_id }}, 'room_name':'{{ room_name }}'});

    socket.on('group_message', function(data){
        var messageBox = document.querySelector('#message-box');
        message = data['message'];
        username = data['username'];
        date = data['date'];
        messageBox.innerHTML += '<div>'+ date +"   " + username + ": " + message + '</div>';
    });

    socket.on('clientMessage', function(data){
        var messageBox = document.querySelector('#message-box');
        messageBox.innerHTML += '<div>' + data + '</div>';

    })

</script>



<div id="message-box">
    {% for message in message_history %}
        <div>{{ message['date'] }} {{ message['username'] }}: {{ message['message'] }}</div>
    {% endfor %}
</div>

{% endblock %}

{% block footer %}

<div id="input-box">
    <input type="text" id="message-input">
    <button id="send-message">Send</button>
</div>

<script>
    var messageInput = document.querySelector('#message-input');
    var sendMessage = document.querySelector('#send-message');

    sendMessage.addEventListener('click', function(){
        var message = messageInput.value;
        var room_id = {{ room_id }};
        var username = '{{ current_user.username }}';
        var user_id = {{ current_user.get_id() }};
        socket.emit('groupMessage', {'message':message,'room_id':room_id,'username':username, 'user_id':user_id} );
    });

    messageInput.addEventListener('keydown', function(event){
        if (event.key === 'Enter') {
            sendMessage.click();
            messageInput.value = "";
        }
    });
</script>
{% endblock %}