{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block main %}
    Welcome, {{ current_user.username }}
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var socket = io();
            username = "{{ current_user.username }}";

            socket.on('connect', function(){
                socket.emit('systemMessage',username+' has connected');
            });

            {% for room in rooms %}
                document.querySelector("#" + "room-{{ room['room_id'] }}").addEventListener('click', function(e){
                    e.preventDefault();
                    var roomName = document.querySelector("#" + "room-{{ room['room_id'] }}").value;
                    socket.emit('systemMessage',roomName);
                    window.location.href = '/chatroom/' + '{{ room['room_id'] }}';
                });
            {% endfor %}
        });
    </script>

    {% for room in rooms %}
    <div>
        <h3>{{ room['room_name'] }}</h3>
        <button type="submit" id="room-{{ room['room_id'] }}" value="{{ room['room_name'] }}">Join</button>
    </div>
    {% endfor %}

{% endblock %}
