{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block main %}
    Welcome, {{ current_user.username }}
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var socket = io();
            username = "{{ current_user.username }}";

            socket.on('connect', function(){
                socket.emit('systemMessage',username+' has connected');
            });

            {% for room in rooms %}
                document.querySelector("#" + "room-{{ room['room_id'] }}").addEventListener('click', function(e){
                    e.preventDefault();
                    var roomName = document.querySelector("#" + "room-{{ room['room_id'] }}").value;
                    socket.emit('systemMessage',roomName);
                    window.location.href = '/chatroom/' + '{{ room['room_id'] }}';
                });
            {% endfor %}
        });
    </script>
    
    <table>
        <tr>
            <th>Room Name</th>
            <th>Description</th>
            <th>Owner ID</th>
            <th></th>
        </tr>
    {% for room in rooms %}
    <tr>
        <td>{{ room['room_name'] }}</td>
        <td>{{ room['room_desc'] }}</td>
        <td>{{ room['owner'] }}</td>
        <td><button type="submit" id="room-{{ room['room_id'] }}" value="{{ room['room_name'] }}">Join</button></td>
    </tr>
    {% endfor %}

    </table>
{% endblock %}
