{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input type="text" name="username" id="username" placeholder="Username" autocomplete="off" autofocus>
        </div>
        <div class="mb-3">
            <input type="text" name="password" id="password" placeholder="Password" autocomplete="off" autofocus>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div>Don't have an account?
    <a href="{{ url_for('register') }}">Register</a>
    instead.
    </div>
{% endblock %}