{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input type="text" name="username" id="username" placeholder="Username" autocomplete="off" autofocus>
        </div>
        <div class="mb-3">
            <input type="text" name="password" id="password" placeholder="Password" autocomplete="off" autofocus>
        </div>
        <div class="mb-3">
            <input type="text" name="confirm_password" id="confirm_password" placeholder="Confirm your password" autocomplete="off" autofocus>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}